@charset utf-8;
.show-panel{width:50px;height:49px;position:fixed;top:60px;right:-1px;background:#fff;z-index:122;cursor:pointer;border:1px solid #ccc;border-radius:4px; border-right:none; }
.show-panel i {font-size:24px;color:#54BABB; line-height:49px;} 
.panel{width:250px;height:340px;background:#fff;display:none;position:fixed;top:60px;right:0;z-index:121;border:1px solid #ccc;border-bottom: 4px solid #ccc;border-radius:4px;}
.panel h3{font-weight:700;margin:20px 0 10px;color:#54BABB}
.panel-container{float:left;width:90%;border-top:1px solid #ccc;margin:20px 2.5% 0}
.panel h5{margin:5px 0 0 4px;padding:20px 0 ;color:#54BABB;}
.color-switch,.layout-switch{margin-top:6px;margin-left:2.5%;margin-bottom:20px;width:95%}
.color-switch {margin-left:36px} 
.color-switch li{float:left;width:40px;height:40px;margin:2px 0 0 2px}
.color-switch li a{float:left;display:block;width:100%;height:100%;position:relative;z-index:10}
.color-switch li.blue{background:#6DCFF6}
.color-switch li.green{background:#54BABB}
.color-switch li.yellow{background:#FFDB5D}
.color-switch li.orange{background:#F54A4B}
.layout-holder{width:100%;float:left;margin:0 0 0 15px;}
.panel .layout-holder h5{margin:5px 0 0 -10px !important;}
.panel .layout-holder h4{margin:10px 0; color:#666}
.layout {float:left;width:40%;margin:0 0 5% 5%;border: 1px solid #ccc;border-bottom: 4px solid #ccc;padding:6px 10px; border-radius:4px;font-size:14px;color:#666}
.layout:hover,.acttype{color:#54BABB}
